<!DOCTYPE html>
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <h2>Iwazaki</h2>
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/bubble.html">Bubble</a></li>
                        <li><a href="{{ site.baseurl }}/selection.html">Selection</a></li>
                        <li><a href="{{ site.baseurl }}/insertion.html">Insertion</a></li>
                        <li><a href="{{ site.baseurl }}/merge.html">Merge</a></li>
                        <li><a href="{{ site.baseurl }}/making.html">About</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>



