<!DOCTYPE html>
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <h2>Iwazaki</h2>
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/gd1.html">Game1</a></li>
                        <li><a href="{{ site.baseurl }}/gd2.html">Game2</a></li>
                        <li><a href="{{ site.baseurl }}/make.html">making</a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>



